

table {
	font-size: 14px;
}

.tiquete   {
	font-size: 13px;
	text-align: center;
}

.fixed{
	position: fixed;
}

.ganancia {
	padding: 10px;
	font-weight:bold;
	background-color:  #0EB81E;
	color : white;
	text-align: center;
	font-size: 15px;
}

.panel-body { 
	padding: 0px;
}

td.actived {
	background-color: #FCAF18;
	color: white;
	font-weight: bold;
	vertical-align: middle;
}


#all table tbody tr td.odd{
	vertical-align: middle;
}
.odd:hover {
	background-color: #FCAF18;
	cursor: pointer;
}

.odd:active {
	background-color: #FCAF18;
}


#all table tbody tr th.info {
	vertical-align: middle;
	color: white;
	background-color: #0EB81E
}

.bold {
	font-weight: bold;
}

#titulo {
	color :#FE9806;
}


.x10 {
	font-size: 10px;
}


.x11 {
	font-size: 11px;
}


.x12 {
	font-size: 12px;
}





