

table {
	font-size: 14px;
}

.tiquete   {
	font-size: 13px;
	text-align: center;
}

.fixed{
	position: fixed;
}

.bet {
	font-size: 11px;
	float: center;
}

.panel-body { 
	padding: 0px;
}

td.actived {
	background-color: #FCAF18;
	color: white;
	font-weight: bold;
	vertical-align: middle;
}


#all table tbody tr td.odd{
	vertical-align: middle;
}
.odd:hover {
	background-color: #FCAF18;
	cursor: pointer;
}

.odd:active {
	background-color: #FCAF18;
}


#all table tbody tr th.info {
	vertical-align: middle;
	color: white;
	background-color: #0ACF1D
}

.bold {
	font-weight: bold;
}

#titulo {
	color :#FE9806;
}






